{% extends "base.html" %}
{% block content %}
<div class="container">

  <div class="row">
    <div class="col-12">
      <h1>About</h1>
      <p>
      This site is an attempt to archive all of the known live performances of the “greatest band in the fucking universe”, Rage Against the Machine. The intention is to archive setlists, recordings, ticket stubs, and posters from throughout their years of touring - it is not intended to host anything commercial.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h3>Setlists</h3>
      <p>
        A major component of this website is archiving all of the known setlists of the band. This is very challenging - if a recording doesn’t exist of the show, it’s hard to say one way or another what was played. I have attempted to vet all of the setlists on here in one way or another, whether its a review, a news article, etc. I’ll be adding these articles and reviews to the shows as I go along. There is a ton of information to backfill. If you attended a show and remember anything of the set, please reach out and let me know! Knowing one song goes a long way. Also, while I think most of their known concerts are on here, I suspect there’s some from their early years that are not on here. If you see or know of a show that isn’t on here, contact me!
        <br>
        <br>
Some of the setlists on here are incorrect - adding everything in was a very manual process and I made some mistakes along the way. At some point in the future I’m going to go back through and check all of them, but if you see a setlist with an error please let me know so I can correct it!
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h3>Recordings</h3>
      <p>
        Over the years I have collected many recordings of the band. Many of these recordings were from people generously sharing them through various sources expecting nothing in return. Some of these recordings came from live concert sharing sites, some came directly from other people, and some were shared on the old Downrodeo.org site, which was an amazing Rage resource. As with anything on the Internet, things that were readily available at one point can become hard to track down later on. This is an attempt to mitigate this by consolidating all of the known recordings and media in one place. Every recording that I have will make it up on the archive in the highest quality version I have of it at some point in the future. Digitizing all of these recordings and devising something to host them for the world takes a lot of time!
        <br>
        <br>
        I’m always on the lookout for new recordings and recordings that I don’t have. I know there are a ton of recordings that exist that were in circulation at one point or another. I want the archive to be as comprehensible as possible - if you see or know of a recording that isn’t here, please let me know and / or send it this way!
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h1>Thanks</h1>
      <p>
        Thanks for taking the time to browse the site - I hope it contains a concert that you attended, or will attend in the future :)
        <br>
        <br>
        TJ
      </p>
    </div>
  </div>

</div>
{% endblock %}
