{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Welcome!</h1>
      <p>
        Welcome to the unofficial Rage Against the Machine live archive!
        The goal of this site to archive everything live-Rage related: recordings, setlists, posters, ticket stubs, etc.
        Live recordings are available to download for many shows - browse through the concerts to see which ones have recordings available!
      </p>
      <p>
        I'm always on the hunt for recordings I do not have to add to the archive.
        Please get in touch if you have something not listed here or something that there isn't a link for!
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h1>Tours and Eras</h1>
    </div>

    {% for era in eras %}
    <div class="tour-or-era-wrapper col-lg-3 col-md-6 col-12 justify-content-center">
      <figure class="hover-img">
        <img class="tour-title" src="{{ config ['STATIC_URI'] }}/{{era.era_tile}}">
        <figcaption>
          <h3><a href={{ url_for('tours_and_eras.eras', artist_name=artist.artist_short_name, era_identifier=era.era_identifier) }} >Go</a></h3>
        </figcaption>
      </figure>
    </div>
    {% endfor %}

  <div class="row">
    <div class="col-12">
      <h1>Updates:</h1>
      {% for update in updates %}
      <div class="row update-row">
        <div class="col-3"><a href={{ url_for('concerts.concerts_get_by_artist_and_concert_friendly_url', artist_name=update.artist_short_name, concert_friendly_url=update.concert_friendly_url) }}>{{ update.update_date }}</a></div>
        <div class="col-9">{{ update.blurb }}</div>
      </div>
      {% endfor %}
      <div class="row">
        <div class="col-12">
          <p>
            <a href="/update-archive">Past Updates.</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

