{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>On the web</h2>
      <ul>
        <li><a href="https://github.com/tjj5036/ratm-live">Github Project</a></li>
        <li><a href="https://www.youtube.com/channel/UCKQCBnGGhHfGUzbHnNdoPgg">Youtube</a></li>
        <li><a href="https://www.instagram.com/ratm.live/">Instagram</a></li>
      </ul>
      <h2>Friends of ratm.live</h2>
      <ul>
        <li><a href="https://hate5six.com/">Hate5Six</a></li>
        <li><a href="https://ninlive.com">Nine Inch Nails Live Archive</a></li>
        <li><a href="https://lplive.net/">LP Live</a></li>
        <li><a href="http://tooldriveproject.net/">Tool Drive Project</a></li>
        <li><a href="https://victimsofadown.net/">Victims of a Down (System of a Down live archive)</a></li>
        <li><a href="https://www.livenirvana.com/">Live Nirvana</a></li>
        <li><a href="https://foofighterslive.com/">Foo Fighters Live</a></li>
        <li><a href="https://dmlive.wiki/wiki/Main_Page">Depeche Mode Live Wiki</a></li>
        <li><a href="https://bootlegconfessions.com/">Bootleg Confessions</a></li>
        <li><a href="https://sacramentomusicarchive.com/">Sacramento Music Archive</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
