{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Most Wanted:</h1>
      <p>
        This is the list of shows that I'm searching for. If you have any of these shows, or even the setlists, please reach out! I'd love to add these all to the archive. Of course, if you have a show that isn't on this list or has a recording associated with it please get in touch - this is the holy grail of recordings that I know exist.
      </p>
      <p>
        <a href="/artists/rage/concerts/1993-05-24-glasgow-barrowlands">1993-05-24 Barrowlands</a> - This one was teased by Slim Richardson on Instagram but I never managed to get a copy.
      </p>
      <p>
        <a href="/artists/rage/concerts/1993-05-25-manchester-ritz">1993-05-25 The Ritz</a> - I have a MP3 of this show only and would love to get an upgrade.
      </p>
      <p>
        <a href="/artists/rage/concerts/1996-05-03-madrid-festimad-fesival">1996-05-03 Festimad Festival</a> - Either audio or video would be awesome. Some of the Festimad videos have trickled out to Youtube, but I do not have a loseless copy of any.
      </p>
      <p>
        <a href="/artists/rage/concerts/1996-09-21-dallas-will-rogers-coliseum">1996-09-21 Dallas, Tx</a> - The setlist is not even known for this show, would be great to change that.
      <p>
      <p>
        <a href="/artists/rage/concerts/1997-04-19-pomona-the-glass-house">1997-04-19 The Glass House</a> - I learned recently that there is a recording of this show. Would love to learn what songs they played!
      </p>
      <p>
        <a href="/artists/rage/concerts/1997-07-24-osaka-imp-hall">1997-07-24 Osaka</a> - The 1997 Japan shows have remained pretty elusive!
      </p>
      <p>
        <a href="/artists/rage/concerts/1997-08-17-hartford-meadows-music-theatre">1997-08-17 Hatford</a> - Probably my most sought after recording! Just getting a setlist confirmed would be amazing as well! Wu-Tang joined them for the encore which may have included Year of the Boomerang.
      </p>
      <p>
        <a href="/artists/rage/concerts/1997-08-28-indianapolis-deer-creek-music-center">1997-08-28 Indianapolis</a> - I really like the Wu-Tang tour shows, and the setlist is not even known for this one.
      </p>
      <p>
        <a href="/artists/rage/concerts/1997-09-05-dallas-starplex-amphitheatre">1997-09-05 Dallas</a> - given the rare songs they performed on this tour this show could potentially be a banger.
      </p>
      <p>
        <a href="/artists/rage/concerts/2000-01-31-hamburg-sporthalle">2000-01-31 Hamburg</a> - The setlist isn't even known for this show, would love to change that.
      </p>
      <p>
        <a href="/artists/rage/concerts/2007-08-24-east-troy-alpine-valley-music-theatre">2007-08-24 Alpine Valley</a> - The first performance of Take the Power Back since 1994? Sign me up!
      </p>
    </div>
  </div>
</div>
{% endblock %}

